
/* hide passed tests */
.format-editortest #region-main p[data-state='pass'] {
    display: none;
}

.format-editortest #region-main h4 {
    display: none;
}

/* hide passed tests */
.format-editortest #region-main.displaypass p[data-state='pass'] {
    display: block;
}
.format-editortest #region-main.displaypass h4 {
    display: block;
}