<div>
<h2>Editor tests results</h2>
<div id="assertsummary"></div>
{{> format_editortest/local/tests/stateevents}}
{{> format_editortest/local/tests/reactive}}
{{> format_editortest/local/tests/statevalues}}
{{> format_editortest/local/tests/stateupdates}}
{{> format_editortest/local/tests/component}}
{{> format_editortest/local/tests/editor}}
</div>